<div class="c-banner">
	<div class="c-banner__item">
        <img src="{{ asset('images/banner--1.png') }}" width='728' height='90'>
    </div>
	<div class="c-banner__item">
		<img src="{{ asset('images/banner--2.png') }}" width='504' height='60'>
	</div>
</div>