<div class="u-mob-hide">
	<a href='{{ box.link }}' class='c-box-v2 c-box-v2--cube' style='background-image:url({{ box.image }}), url(images/default.png)'>
		<div class='c-box-v2__content'>
			<div><span class='c-tag'>Promo</span></div>	
			<div class='c-box-v2__date'>{{ box.date }}</div>		
			<h3 class='c-box-v2__title'>{{ box.title }}</h3>
			<div class='c-box-v2__footer'>{{ box.subtitle }}</div>
			<span class='c-arrow c-arrow--colored'></span>
		</div>
	</a>	
</div>