{% for galleryItem in gallery %}
    <a href='{{ galleryItem.urlPath }}' class='c-box-v5' style='background-image:url({{ galleryItem.image_reference }}), url(images/default.png)'>
        <div class='c-box-v5__content'>						
            <h3 class='c-box-v5__title'>
                {{ galleryItem.title }}
            </h3>
            <div class='c-item-footer'>
                <span class='c-item-footer__author'>{{ galleryItem.authorName }}</span> - <span class='c-item-footer__date'>{{ galleryItem.publish_date|date('d.m.Y') }}</span>
                <span class='c-box-v5__tag'>Počet fotek: {{ galleryItem.photosCount }}</span> <span class='c-box-v2__comments-count'>{{ galleryItem.comments_count }}</span>
            </div>
            <span class='c-arrow c-arrow--colored'></span>
        </div>
    </a>
{% endfor %}
