{% extends 'base.html.twig' %}

{% block title %}Marast{% endblock %}
{% block pagename %}homepage{% endblock %}

{% block body %}

<div class="o-wrapper o-wrapper--main">
	<div class="o-container-outer o-container-outer--wide">
		<div class="o-container-flex">			
			{% include 'home/intro.html.twig' %}
		</div>

		{% include 'home/banner.html.twig' %}

		<div class="c-title c-title--compact">Novinky</div>	

		<div class="o-container-flex o-container-flex--tablet-reset">	
			{% include 'home/news.html.twig' %}	
			{% include 'home/box.html.twig' %}	
			{% include 'home/comments/comments.html.twig' %}	
		</div>			
	</div>
</div>

<section class="o-section u-bg-dark">
    <div class="o-container-outer o-container-outer--wide">
        {% include 'home/articles/articles.html.twig' %}
    </div>
</section>

<section class="o-section">
		<div class="o-container-outer o-container-outer--wide">			
			<div class="u-pb">
				<div class="c-detail-title c-detail-title--small">Galerie</div>
			</div>
			<div class="o-container-flex">
				{% include 'home/gallery.html.twig' %}
			</div>
			{% include 'home/banner.html.twig' %}
		</div>
	</section>

<section class="o-section u-bg-dark">
		<div class="o-container-outer o-container-outer--wide">
			{% include 'home/events/events.html.twig' %}
		</div>
	</section>
{% include 'home/spotify/spotify.html.twig' %}
{% endblock %}
