<a href='{{ introBlock1.urlPath }}' class='c-box-v3' style='background-image:url({{ introBlock1.image }}), url(images/default.png)'>	
    <div class='c-box-v3__content'>
        <div>
            <span class='c-tag'>{{ introBlock1.type }}</span>
        </div>							
        <h2 class='c-box-v3__title'>{{ introBlock1.title }}</h2>
        <span class='c-arrow'></span>
    </div>
    <div class='c-item-footer'>
        {{ introBlock1.authorName }} - <span class='c-item-footer__date'>{{ introBlock1.publishDate|date('d/m/Y') }}</span> <span class='c-item-footer__comments-count'> {{ introBlock1.commentsCount }}</span>
    </div>
</a>
<div>
    <a href='{{ introBlock2.urlPath }}' class='c-box-v4' style='background-image:url({{ introBlock2.image }}), url(images/default.png)'>	
        <div class='c-box-v4__content'>
            <div>
                <span class='c-tag'>{{ introBlock2.type }}</span>
            </div>							
            <h2 class='c-box-v4__title'>{{ introBlock2.title }}</h2>
            <span class='c-arrow'></span>
        </div>
        <div class='c-item-footer'>
        {{ introBlock2.authorName }} - <span class='c-item-footer__date'>{{ introBlock2.publishDate|date('d/m/Y') }}</span> <span class='c-item-footer__comments-count'> {{ introBlock2.commentsCount }}</span>
        </div>
    </a>
    <a href='{{ introBlock3.urlPath }}' class='c-box-v4' style='background-image:url({{ introBlock3.image }}), url(images/default.png)'>
        <div class='c-box-v4__content'>
            <div>
                <span class='c-tag'>{{ introBlock3.type }}</span>
            </div>	
            <h3 class='c-box-v4__title'>{{ introBlock3.title }}</h3>
            <span class='c-arrow'></span>
        </div>
        <div class='c-item-footer'>
        {{ introBlock3.authorName }} - <span class='c-item-footer__date'>{{ introBlock3.publishDate|date('d/m/Y') }}</span> <span class='c-item-footer__comments-count'> {{ introBlock3.commentsCount }}</span>
        </div>							
    </a>
</div>