<div>
	{% for item in news %}
		<a href='{{ path('app_novinky', {'url': item.urlPath}) }}' class='c-item-v1'>
                <div class='c-item-v1__img' style='background-image: url({{ item.image }}), url(images/default.png)'></div>
                <div class='c-item-v1__container c-item-v1__container--small'>                    
                    <div class='c-item-v1__tags'>
                        <span class='c-tag'>{{ item.type }}</span>{% if item.optionalTag is not empty %}<span class='c-tag'>{{ item.optionalTag }}</span>{% endif %}                        
                    </div>                    
                    <div class='c-item-v1__text'>{{ item.title }}</div>
                    <div class='c-item-v1__footer'>
                        <span class='c-item-v1__author'>{{ item.authorName }}</span> - <span class='c-item-v1__date'>{{ item.publishDate|date('d/m/y') }}</span> <span class='c-item-footer__comments-count c-item-footer__comments-count--dark'>{{ item.commentsCount }}</span>
                    </div>						
                </div>
            </a>	
	{% endfor %}
</div>
