<div class="u-bg-dark">
	<div class="o-wrapper u-bg-logo">
		<div class="o-container-outer o-container-outer--wide">
			<div class="o-container-flex o-container-flex--mobile-reset u-p-main">
				<div class="c-text-block">
					<h1 class="c-text-block__title">marast <div class="u-blue">music</div><div class="u-blue">spotify</div>playlists</h1>
					<div class="c-text-block__text">
						Několik Spotify playlistů, které by se vám mohly hodit.
						Jednak náš měsíční k Albu měsíce, další pro brouzdání po novinkách nebo prostě jen na zevling.
						Chcete zde mít ten svůj? <a class="c-text-block__link">Napište nám!</a>
					</div>
					<div class="u-pt-m">
						<a style="position: relative;" href="https://www.spotify.com/cz/" target="_blank" class="c-text-block__button">Přejít na Spotify<i class="c-spotify__icon fa fa-spotify"></i></a>
					</div>
				</div>
				<div class="c-spotify">
					<div class="c-spotify__menu">
						<button id="playlist1" class="c-spotify__playlist">
							<div class="c-spotify__img"></div>
							<div class="c-spotify__text">Album února 2022</div>
						</button>						
						<button id="playlist2" class="c-spotify__playlist">
							<div class="c-spotify__img"></div>
							<div class="c-spotify__text">Korejská dvacítka</div>
						</button>
						<button id="playlist3" class="c-spotify__playlist">
							<div class="c-spotify__img"></div>
							<div class="c-spotify__text">Metlošova dvanáctka</div>
						</button>
						<button id="playlist4" class="c-spotify__playlist">
							<div class="c-spotify__img"></div>
							<div class="c-spotify__text">Death Metal & Beyond</div>
						</button>			
					</div>
					<div id="spotifyPlayer" class="c-spotify__player"></div>
				</div>
			</div>
		</div>
	</div>
</div>