$breakpoints: (
	
	xxxl: 1460px,

	xxl: 1380px,
	xxl-1: 1320px,
	xxl-2: 1300px,
	xxl-3: 1275px,

	xl: 1200px,
	xl-1: 1140px,
	
	l: 1024px,
	m: 992px,
	s: 800px,

	mobile: 768px,
	mobile-1: 480px,
	mobile-2: 440px
);
