{% for comment in comments %}
    <div class='c-item-v2 c-item-v2--wide'><a style="position:relative;top:-45px;" name='$comment[id]'></a>	
        <div class='c-item-v2__header'>
            <span class='c-item-v2__author u-black'>{{ comment.name }}</span> - <span class='c-item-v2__date'>{{ comment.created }}</span>
        </div>
        <div class='c-item-v2__text'>{{ comment.text }}</div>
    </div>
{% endfor %}