<div class="o-wrapper">
    <div class="o-container-outer">
        <div class="o-container-inner">

            {% if title == 'Recenze' %}
                <div class="u-relative">
                    <div class="c-detail-info">
                        Hodnocení:<br>
                        <span class="c-detail-info--large">{{ detail.rating }}</span>
                    </div>
                </div>                
            {% endif %}

            {% if detail.intro is defined %}
                <h3>{{ detail.intro|raw }}</h3>
            {% endif %}

            <div class='c-text'>

                {% if detail.body is defined %}
                    {{ detail.body|raw }}
                {% else %}
                    {{ detail.text|raw}}
                {% endif %}

            </div>
        </div>
        <div class="o-container-inner">
            <div class="c-detail-comments">        

                {% include 'detail/detail-form.html.twig' %}         

                <div id="comments" class="c-detail-comments__container">						
                    {% include 'detail/detail-comments.html.twig' %}
                </div>
            </div>
        </div>
        <div class="c-tags">
             {% for tag in detail.tags %}
                <li>
                    <a href="{{ tag.link }}" class="c-tags__tag">{{ tag.name }}</a>
                </li>
            {% endfor %}
        </div>			
    </div>
    <div class="o-container-outer o-container-outer--wide">
        {% if relatedContent is not empty %}
            <h1 class="c-detail-title c-detail-title--v2">Zkus tohle</h1>
        {% endif %}        
        <div class="o-container-flex">
            {% for item in relatedContent %}
                <a href='/{{ item.urlPath }}' class='c-item-v4'>
                    <div class='c-item-v4__img' style='background-image:url(../$image), url(../images/xo.png)'>
                        <span class='c-tag'>{{ item.type }}</span>
                    </div>
                    <div class='c-item-v4__container'>
                        <div class='c-item-v4__text'>{{ item.title }}</div>
                        <span class='c-item-v4__author'>{{ item.authorName }}</span> - <span class='c-item-v4__date'>{{ item.publishDate|date('Y-m-d') }}</span>
                    </div>
                </a>                
            {% endfor %}
        </div>
    </div>
</div>