<div class="c-detail-form__separator"></div>
<div class="c-detail-form">
    <div class="c-detail-form__image"></div>
    <div class="c-detail-form__container">
        <h3 class="c-detail-form__title">Vložit komentář</h3>
        
        {{ form_start(commentsForm) }}

        <div class="c-detail-form__input-group">
            {{ form_widget(commentsForm.name) }}
        </div>

        <div class="c-detail-form__input-group">
            {{ form_widget(commentsForm.text) }}
        </div>

        {{ form_widget(commentsForm.contentobject_id) }}
        {{ form_widget(commentsForm.url) }}
        {{ form_widget(commentsForm.title) }}
        {{ form_widget(commentsForm.type) }}

        <input id="detailFormSubmit" data-url="{{ path('app_comments_form') }}" class="c-detail-form__button" type="submit" value="Potvrdit">

        {{ form_end(commentsForm) }}
    </div>
</div>
