<div id="detail-header" class="c-header-large" style="background-image: url(/{{ detail.img_main }}), url({{ asset('images/default.png') }})">
    <div class="c-header-large__container" >       
        <h1 class='c-header-large__title u-mb'>{{ detail.title }}</h1>
        <span class="c-tag">{{ detail.type}}</span> <span id="slideToCommentSection" class="c-item-footer__comments-count c-item-footer__comments-count--dark u-invert u-c-pointer"></span>
        <div class="c-header-large__footer">
            {% if detail.author_name is defined %}{{ detail.author_name }} - {% endif %}<span class='c-header-large__date'>{% if detail.title == 'Akce' %}{{ date|date('Y-m-d') }}{% elseif detail.publish_date is defined %}{{ detail.publish_date|date('Y-m-d H:i:s') }}{% endif %}</span>
        </div>
    </div>
</div>
