{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
{% include 'detail/detail-header.html.twig' %}
{% include 'detail/detail-body.html.twig' %}
{% endblock %}
