
<div class="o-container-flex o-container-flex--wrap">
    {% for boardItem in boardData %}
        <a href='{{ boardItem.url_path }}' class='c-box-v5' style='background-image:url({{ boardItem.image_reference }}), url(images/default.png)'>
            <div class='c-box-v5__content'>						
                <h3 class='c-box-v5__title'>
                    {{ boardItem.title }}
                </h3>
                <div class='c-item-footer'>
                    <span class='c-item-footer__author'>{{ boardItem.author_name }}</span> - <span class='c-item-footer__date'>{{ boardItem.publish_date }}</span>
                    <span class='c-box-v5__tag'>Počet fotek: {{ boardItem.number_of_photos }}</span> <span class='c-box-v2__comments-count'>{{ boardItem.comments_count }}</span>
                </div>
                <span class='c-arrow c-arrow--colored'></span>
            </div>
        </a>		
    {% endfor %}
</div>