
<div class="o-container-flex o-container-flex--wrap">
    {% for boardItem in boardData %}
        <a href='{{ boardItem.url_path }}' class='c-item-v4'>
            <div class='c-item-v4__img' style='background-image:url({{ boardItem.image_reference }}), url({{ asset('images/default.jpg') }})'>
                <span class='c-tag'>{{ boardItem.type }}</span>
            </div>
            <div class='c-item-v4__container'>
                <div class='c-item-v4__text'>{{ boardItem.title }}</div>
                <span class='c-item-v4__author'>{{ boardItem.author_name }}</span> - <span class='c-item-v4__date'>{{ boardItem.publish_date|date('Y-m-d H:i:s') }}</span> <span class='c-item-footer__comments-count c-item-footer__comments-count--dark'> {{ boardItem.comments_count }}</span>
            </div>
        </a>
    {% endfor %}
</div>