
<div class="o-container-flex o-container-flex--wrap">
    {% for boardItem in boardData %}
        <div class='u-mb'>
            <a href='{{ boardItem.url_path }}' class='c-box-v2 u-center' style='background-image:url({{ boardItem.image_reference }}), url(images/default.png)'>
                <div class='c-box-v2__content'>
                    <div><span class='c-tag'>Akce</span><span class='c-box-v2__comments-count'>{{ boardItem.comments_count }}</span></div>
                    <div class='c-box-v2__date'>{{ boardItem.date }}</div>		
                    <h3 class='c-box-v2__title'>{{ boardItem.title }}</h3>
                    <div class='c-box-v2__footer'>{{ boardItem.venue }}</div>
                    <span class='c-arrow c-arrow--colored'></span>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
