{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div id="{{ type }}" class="o-wrapper o-wrapper--overview">
		<div class="o-container-outer o-container-outer--wide u-mb-m">
			<div class="o-container-flex u-db-ml">
				<div class="c-detail-title">
					{{ title }}
				</div>
				{% if overview_type is defined and overview_type == 'articles-overview' %}

					{% block additional_css %}
						<link rel="stylesheet" type="text/css"  href="{{ asset('css/articles-overview.css') }}">
					{% endblock %}

                    {% include 'overview/overview-menu.html.twig' %}
                {% endif %}
			</div>
		</div>

		<div class="o-container-outer o-container-outer--wide">
			<div id="main"></div>
			
			<div class="c-pagination">
				<button id="btnMore" class="c-pagination__more-button">Načíst další</button>
			</div>
		</div>

		{% include 'overview/top-content.html.twig' %}
	</div>	

    <script>
		var overviewTemplate = '{{ overview_template }}';
		{% if tag is defined %}
			var tag = '{{ tag }}';
		{% endif %}
	</script>
	
{% endblock %}
