<nav class="c-detail-menu">
    <ul id="articlesMenuList" class="c-detail-menu__list">
        <li id="all" class="c-detail-menu__item {{ not category ? 'c-detail-menu__item--active' : '' }}"><a class="c-detail-menu__link">Všechny</a></li>
        <li id="reviews" class="c-detail-menu__item {{ category == 'recenze' ? 'c-detail-menu__item--active' : '' }}"><a class="c-detail-menu__link">Recenze</a></li>
        <li id="reports" class="c-detail-menu__item {{ category == 'reporty' ? 'c-detail-menu__item--active' : '' }}"><a class="c-detail-menu__link">Reporty</a></li>
        <li id="interviews" class="c-detail-menu__item {{ category == 'rozhovory' ? 'c-detail-menu__item--active' : '' }}"><a class="c-detail-menu__link">Rozhovory</a></li>
        <li id="albums" class="c-detail-menu__item {{ category == 'alba' ? 'c-detail-menu__item--active' : '' }}"><a class="c-detail-menu__link">Alba měsíce</a></li>
        <li id="others" class="c-detail-menu__item {{ category == 'ostatni' ? 'c-detail-menu__item--active' : '' }}"><a class="c-detail-menu__link">Ostatní</a></li>
    </ul>
</nav>