<div class="o-container-flex">
	<div class="o-container-v3">
		<div class="c-title c-title--compact">
			Diskuze
		</div>
		<div class="c-text-filter">
			<a id="commentsAll" class="c-text-filter__item c-text-filter__item--active">všechny</a>
			<a id="commentsReports" class="c-text-filter__item">reporty</a>
			<a id="commentsReviews" class="c-text-filter__item" >recenze</a>
			<a id="commentsOthers" class="c-text-filter__item">ostatní</a>
		</div>
		<div id="comments"></div>					
	</div>
	<div id="topContent" class="u-bg-gray o-container-v4 o-container-flex u-mob-hide">
		<div>
			<div class="c-title">
				Nejčtenější
			</div>
			<div>
				<a href='{{ topContentWinner.url_path }}' class='c-item-v3'>
				<div class='c-item-v3__img' style='background-image:url({{ topContentWinner.image_reference }}), url(images/default.png)'></div>
				<div class='c-item-v3__container'>					
					{{ topContentWinner.author_name }} - <span class='c-item-v3__date'>{{ topContentWinner.publish_date }}</span>
					<span class='c-tag'>{{ topContentWinner.type }}</span>
					<div class='c-item-v3__text'>{{ topContentWinner.title }}</div>
				</div>
			</a>
			</div>
		</div>
		<div class="o-container-v5 u-dn-xl">
			<div>
				{% for item in topContent %}			
                    <a href='{{ item.url_path }}' class='c-item-v1'>
                        <div class='c-item-v1__img' style='background-image: url({{ item.image_reference }}), url(images/default.png)'></div>
                        <div class='c-item-v1__container c-item-v1__container--small'>

                            <div class='c-item-v1__tags'>
                                <span class='c-tag'>{{ item.type }}</span>
                            </div>
                            
                            <div class='c-item-v1__text'>{{ item.title }}</div>
                            <div class='c-item-v1__footer'>
                                <span class='c-item-v1__date'>{{ item.publish_date }}</span> - <span class='c-item-v1__author'>{{ item.author_name }}</span> <span class='c-item-footer__comments-count c-item-footer__comments-count--dark'>{{ item.comments_count }}</span>
                            </div>						
                        </div>
                    </a>
                {% endfor %}
			</div>
		</div>
	</div>
</div>