{% extends 'base.html.twig' %}

{% block title %}Galerie{% endblock %}

{% block additional_css %}<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css">{% endblock %}

{% block body %}
<div class="o-wrapper o-wrapper--overview">
		<div class="o-container-outer o-container-outer--wide u-mb-m">
			<div class="o-container-flex">
				<div class="c-detail-title">
					Galerie
				</div>
				<div class="c-info-block">
					<div class='c-info-block__title'>{{ galleryData.title }}</div>
					<div>{{ galleryData.author_name }}<br>{{ galleryData.event_date }}<br>{{ galleryData.venue }}</div>
				</div>
			</div>		
			<div class="c-gallery-detail o-container-flex o-container-flex--wrap">			
				{% for image in images %}
					<a class='c-gallery-detail__img' style='background-image:url({{ asset(image.image_reference) }})'><img data-fancybox='gallery' data-caption='{{ image.name }}' src='{{ asset(image.image_reference) }}'></a>
				{% endfor %}
			</div>
			<div class="o-container-inner">
				<div class="c-detail-comments">
					{% include 'detail/detail-form.html.twig' %}

					<div id="comments" class="c-detail-comments__container">						
						{% include 'detail/detail-comments.html.twig' %}
					</div>
				</div>
			</div>
		</div>
		<div class="o-container-outer o-container-outer--wide">
        <h1 class="c-detail-title c-detail-title--v2">Zkus tohle</h1>
			<div class="o-container-flex">
				{% for item in relatedContent %}				
					<a href='/{{ item.urlPath }}' class='c-item-v4'>
						<div class='c-item-v4__img' style='background-image:url(../$image), url(../images/xo.png)'>
							<span class='c-tag'>{{ item.type }}</span>
						</div>
						<div class='c-item-v4__container'>
							<div class='c-item-v4__text'>{{ item.title }}</div>
							<span class='c-item-v4__author'>{{ item.authorName }}</span> - <span class='c-item-v4__date'>{{ item.publishDate|date('Y-m-d') }}</span>
						</div>
					</a>                
				{% endfor %}            
			</div>
		</div>
	</div>

	{% block additional_script %}<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>{% endblock %}

{% endblock %}
