{% for article in articles %}
    <a href='{{ article.url_path }}' class='c-box-v1' style='background-image:url({{ article.image }}), url(images/default.png)'>
    <div class='c-box-v1__content'>
        <h3 class='c-box-v1__title'>{{ article.title }}</h3>
        <div class='c-box-v1__tags'>
            <span class='c-tag'>{{ article.type }}</span>
        </div>
        <span class='c-arrow c-arrow--colored'></span>
    </div>
        <div class='c-item-footer'>
            <span class='c-item-footer__author'>{{ article.author_name }}</span> - <span class='c-item-footer__date'>{{ article.publish_date|date('d.m.Y') }}</span> <span class='c-item-footer__comments-count'> {{ article.comments_count }}</span>
        </div>
    </a>    
{% endfor %}