<div class="o-container-flex o-container-flex--end u-pb">
	<div class="c-detail-title c-detail-title--small">Články</div>
	<nav class="c-center-menu u-pb-s">
		<ul class="c-center-menu__list">
			<li id="all" class="c-center-menu__item c-center-menu__item--active"><a class="c-center-menu__link">vše</a></li>
			<li id="reviews" class="c-center-menu__item"><a class="c-center-menu__link">recenze</a></li>
			<li id="reports" class="c-center-menu__item"><a class="c-center-menu__link">reporty</a></li>
			<li id="interviews" class="c-center-menu__item"><a class="c-center-menu__link">rozhovory</a></li>
			<li id="albums" class="c-center-menu__item"><a class="c-center-menu__link">alba měsíce</a></li>
			<li id="others" class="c-center-menu__item"><a class="c-center-menu__link">ostatní</a></li>
		</ul>
	</nav>
</div>

<div id="main" class="o-container-flex o-container-flex--wrap"></div>