.c-box-v1 {
	position: relative;
	width: 310px;
	height: 440px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: end;
	padding: 24px;
	overflow: hidden;
	text-decoration: none;

	@include media('xxl') {
		width: 49%;
		margin-bottom: $large;
	}

	&__title {
		color: #EAEAF0;
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 2.4rem;

		@include media('mobile') {
			font-size: 2rem;
			line-height: 1.2;
			width: 100%;
		}
	}

	&__tags {
		margin: 10px 0 20px 0;
	}

	&__tags > span {
		display: inline;
	}

	&__content {
		transition: 800ms;
	}

	&::before {
		content: "";
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		background: linear-gradient(transparent, #000);
	}

	&::after {
		content: "";
		position: absolute;
		height: 50px;
		width: 50px;
		bottom: -50px;
		left: -50px;
		box-shadow: 50px -50px 700px 300px $color-main;
		background: $color-main;
		opacity: 0;
		transition: 800ms;
	}

	@media (hover: hover) {
		&:hover:after {
			opacity: .6;
			transition: 300ms;
		}
	}

	@media (hover: hover) {
		&:hover .c-box-v1__content {
			margin-bottom: 52px;
			transition: 300ms;
		}
	}

	@media (hover: hover) {
		&:hover .c-arrow {
			opacity: 1;
		}
	}

	& > * {
		position: relative;
		z-index: 1;
	}

	@include media('mobile') {
		width: 100%;
		height: 275px;
		margin-bottom: 20px;
	}	
}

.darkmode .c-box-v1::after {
	box-shadow: 50px -50px 700px 300px $color-darkmode-transparent;
}