.c-social-media {
	padding: 40px 0;
	display: flex;
	justify-content: center;
	width: 167px;

	@include media('mobile') {
		margin: 0 auto;
	}

	&__link {
		color: $color-gray-light;
		margin: 0 14px;
		font-size: 2rem;

		&:hover {
			color: $color-main;
		}
	}
}