.c-gallery-detail {
	&__img {
		/*width: 285px;
		height: 200px;
		padding: 6px;
		border-radius: 6px;
		margin: 20px;
		background: #000;
		border: 3px solid $color-main;
		background-size: cover;
		background-position: center;*/

		width: 25%;
		height: 200px;
		padding: 6px;
		background: #000;
		background-size: cover;
		background-position: center;

		@include media('mobile') {
			width: 100%;
			height: auto;
		}
	}

	& img {
		width: 100%;
		height: 100%;
		opacity: 0;
	}
}