.c-detail-forfgm {
	margin-top: 100px;

	&__form {
		background: #000;
		padding: 20px;
		margin-bottom: 40px;
	}

	&__input {
		display: block;
		margin-bottom: 20px;
		background: #000;
		color: #fff;
		padding: 15px;
		border: 2px solid $color-main;
		border-radius: 10px;
	}

	&__textarea {
		background: #000;
		color: #fff;
		margin-bottom: 20px;
		width: 100%;
		min-height: 150px;
		padding: 10px;
		border: 2px solid $color-main;
		border-radius: 10px;
	}

	&__button {
		background: #000;
		color: #fff;
		padding: 10px;
		border: 2px solid #fff;
		border-radius: 10px;
	}

	&__title {
		color: #EAEAF0;
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 2.4rem;
	}
}