.c-detail-form {
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	display: flex;
	overflow: hidden;
	margin-bottom: 50px;
	margin-top: 50px;

	&__separator {
		height: 12px;
		background: #000;
		width: 134%;
		position: relative;
		left: -17%;
		margin-top: 50px;
	}

	&__image {
		background: url(../images/xox.png);
		background-size: cover;
		background-position: center;
		width: 30%;

		&--disabled {
			opacity: .1;
		}

		@include media('mobile') {
			display: none;
		}
	}

	&__container {
		background: #000;
		padding: 60px 50px;
		width: 70%;

		&--disabled {
			opacity: .1;
		}

		@include media('mobile') {
			width: 100%;
			padding: 20px;
		}
	}

	&__title {
		font-size: $large;
		color: #fff;
		font-weight: 400;
		margin-bottom: 36px;
	}

	&__input-group {
		margin-bottom: 33px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	}

	&__input {
		padding: 5px 0;
		font-size: 1.6rem;
		color: #ccc;
		background: transparent;
		border: none;
		outline: none;
		resize: vertical;
		width: 100%;
	}	

	&__input:placeholder {
		color: #ccc;
		opacity: 1;
	}

	&__button {
		border: 1px solid;
		padding: 6px 19px;
		color: #fff;
		margin-top: 20px;

		&--clicked,
		&--clicked:hover {
			background: url(../images/check.png);
			color: transparent;
			background-size: contain;
			background-repeat: no-repeat;
			pointer-events: none;
		}
	}

	&__button:hover {
		background: #fff;
		color: #000;
		border-color: #fff;
		cursor: pointer;
	}

	#text {
		height: 36px;
	}

	&:before {
		content: "";
		display: block;
	}

	&__success {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		display: none;

		img {
			width: 100px;
			height: 120px;
		}

		&-text {
			font-size: 30px;
			color: #fff;
			font-weight: 900;
		}

		&--visible {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
	}
}

.darkmode .c-detail-form__separator {
	background: $color-darkmode;
}