.c-text {
	font-size: 1.6rem;
	line-height: 1.8;
	text-align: justify;

	&:after {
		clear: both;
		content: "";
		display: block;
	}	

	& img {
		background-position: center;
		background-size: cover;
		margin-top: 15px;
		margin-bottom: 15px;
		margin-right: 15px;

		@include media('mobile') {
			width: 100%;
			height: auto;
		}
	}

	img.note-float-right {
		margin-left: 15px;
		margin-right: 0;
	}

	&__img--fullwidth {
		width: 120% !important;
		margin-left: -10%;
	}

	& > p {
		margin-bottom: 29px !important;
		line-height: 1.8 !important;
	}

	a {
		color: $color-main;
		font-weight: 700;
	}

	& b {
		font-weight: 700;
		line-height: 1.3;
		color: #000000;
	}

	img + span > br:first-child {
		display: none;
	}

	* {
		font-family: "Work Sans", sans-serif !important;
	}

	b,
	span {
		background-color: transparent !important;
	}
}

.darkmode .c-text a {
	color: $color-darkmode;
}
.darkmode .c-text b {
	color: #fff;
}
