.c-header-large {
	height: 500px;
	background: url("../images/bg-large.png");
	background-size: cover;
	background-position: center 0;
	background-repeat: no-repeat;
	display: flex;
	align-items: end;
	margin-bottom: 50px;
	position: relative;

	@include media('mobile') {
		height: 400px;
		margin-top: 95px;
	}

	& > * {
		position: relative;
		z-index: 1;
	}

	&__container {
		width: 100%;
		max-width: 1440px;
		padding: 0 132px;
		margin: 0 auto;		

		@include media('mobile') {
			padding: 0 20px;	
		}
	}

	&__tag {
		background: rgba(0, 0, 255, 0.7);
		padding: 3px 8px;
		font-size: 10px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 1px;
		border-radius: 8px;
		color: #fff;
		display: inline;
	}

	&__title {
		font-size: 6.6rem;
		line-height: 1;
		letter-spacing: -0.02rem;
		color: #FFFFFF;
		text-transform: none;
		margin-top: 30px;
		//max-width: 820px;

		@include media('xxl-3') {
			font-size: 4rem;
		}

		@include media('mobile') {
			font-size: 3rem;
		}
	}

	&__text {
		font-size: 1.2rem;
	}

	&__footer {
		margin-top: 30px;
		margin-bottom: $large;
		color: #fff;
	}

	&__author {
		font-weight: 600;
		font-size: $font-tiny;
		text-decoration: underline;

		id,
		email {
			display: none;
		}
	}

	&__date {
		font-size: $font-tiny;
	}

	&::before {
	    content: "";
	    position: absolute;
	    height: 100%;
	    width: 100%;
	    left: 0;
	    top: 0;
	    background: linear-gradient(transparent, #000);
	}
}