.c-mobile-header {
	position: fixed;
	display: none;
	top: 40px;
	padding: 10px;
	box-shadow: 0 0 9px -6px gray;
	width: 100%;
	background: #fff;
	transition: 1s;
	z-index: 666;
	
	&__hamburger {
		color: #fff;
		float: right;
		margin-right: 10px;
		padding: 0;

		& div {
			height: 5px;
			width: 36px;
			background: $color-main;
			margin: 5px 0;
			border-radius: 6px;
		}
	}

	@include media('xl-1') {
		display: block;
	}
}

.darkmode .c-mobile-header {
	background: #141414;
}