.c-copyright {
	padding: 16px 0;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	background: #000;
	color: $color-gray-light;

	&__link {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}	

	@include media('mobile') {
		display: none;
	}
}