.c-item-v4 {
	margin-bottom: $large;
	width: 420px;
	transition: 300ms;
	//border-bottom-right-radius: 20px;
	//border-bottom-left-radius: 20px;

	@include media('mobile') {
		width: 100%;
	}

	&__container {
		padding: $large;
	}

	&__img {
		height: 222px;		
		background-position: center;
		background-size: 100%;
		display: flex;
		align-items: end;
		padding: $large;
		transition: 2s;
	}

	&__text {
		font-size: 1.6rem;
		line-height: 2.4rem;
		margin-bottom: $medium;
	}

	&__author {
		text-decoration: underline;
		font-size: 1.2rem;
		font-weight: 500;

		id,
		email {
			display: none;
		}
	}

	&__date {
		font-weight: 600;
		font-size: 1.2rem;
		//margin-right: $large;
	}

	@media (hover: hover) {
		&:hover {
			background-color: #000;
			color: #fff;
		}

		&:hover &__img {
			background-size: 110%;
			transition: 2s;
		}

		&:hover .c-item-footer__comments-count {
			color: #000;
			filter: invert(1);
		}
	}

	/*&:hover &__text {
		color: $color-main;
	}*/
}