.c-box-v5 {
	position: relative;
	width: 644px;
	height: 365px;
	margin-bottom: $large;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: end;
	overflow: hidden;
	padding: 24px;

	&__title {
		margin-bottom: $medium;
		color: #EAEAF0;
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 2.4rem;
		width: 50%;

		@include media('mobile') {
			font-size: 2rem;
			line-height: 1.2;
			width: 100%;
		}
	}

	&__tag {
		background: #DFDFF0;
	    padding: 1px 6px;
	    font-size: 1rem;
	    font-weight: 600;
	    height: 15px;
	    text-transform: uppercase;
	    letter-spacing: 0.14em;
	    color: #000;
	    cursor: pointer;	    
	    display: inline-block;
	    margin-left: 20px;
	    margin-right: 10px;
	}

	&__content {
		transition: 800ms;

		id,
		email {
			display: none;
		}
	}

	&::before {
		content: "";
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		background: linear-gradient(transparent, #000);
	}

	&::after {
		content: "";
		position: absolute;
		height: 50px;
		width: 50px;
		bottom: -50px;
		left: -50px;
		box-shadow: 50px -50px 700px 300px $color-main;
		background: $color-main;
		opacity: 0;
		transition: 800ms;
	}

	@media (hover: hover) {
		&:hover:after {
			opacity: .6;
			transition: 300ms;
		}
	}

	@media (hover: hover) {
		&:hover .c-box-v5__content {
			margin-bottom: 52px;
			transition: 300ms;
		}
	}

	.c-arrow {
		bottom: -53px;
	}

	@media (hover: hover) {
		&:hover .c-arrow {
			opacity: 1;
		}
	}
	
	& > * {
		position: relative;
		z-index: 1;
	}

	@include media('xxl') {
		width: 49%;
	}

	@include media('mobile') {
		width: 100%;
		height: 275px;
		margin-bottom: 20px;
	}	
}

.darkmode .c-box-v5::after {
	box-shadow: 50px -50px 700px 300px $color-darkmode-transparent;
}