.c-mobile-navbar {
	display: none;
	height: 50px;
	background: #1f1f1f;
	margin-bottom: 50px;

	@include media('mobile') {
		display: block;
	}

	&__button {
		float: right;
		color: white;
		font-size: 2.5rem;
		padding: $small;
		margin-top: 3px;
		margin-right: 20px;
	}
}