.c-tags {
	border-top: 11px solid #000;
	padding-top: 34px;
	max-width: 770px;
	height: auto;
	margin: 0 auto 29px;
	text-align: center;

	&__tag {
		background: rgba(0, 0, 255, 0.7);
		padding: 3px 8px;
		font-size: 10px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 1px;
		border-radius: $small;
		color: #fff;
		margin-right: $medium;
		line-height: 3.5;
		cursor: pointer;
		white-space: nowrap;
	}

	li {
		display: inline;
	}
}

.darkmode .c-tags__tag {
	background: $color-darkmode;
	color: #000;
}