{% for event in events %}
    <a href='{{ event.urlPath }}' class='c-slider-multiple__item'>
        <div class='c-box-v2 u-center' style='background-image:url({{ event.image }}), url(images/default.png)'>
            <div class='c-box-v2__content'>
                <div><span class='c-tag'>{{ event.type }}</span></div>
                <div class='c-box-v2__date $multiclass'>{{ event.date|date('j.n.Y') }}</div>		
                <h3 class='c-box-v2__title'>{{ event.title }}</h3>
                <div class='c-box-v2__footer'>{{ event.venue }}</div>
                <span class='c-arrow c-arrow--colored'></span>
            </div>
        </div>
    </a>
{% endfor %}
<a href='akce' class='c-slider-multiple__item'>
    <div class='c-box-v2 c-box-v2--last u-center'>
        <div class='c-box-v2__content c-box-v2__content--last'>
            <img src='images/plus.png' class='c-box-v2__plus-icon'>
            <h3 class='c-box-v2__title c-box-v2__title--large'>VŠECHNY AKCE</h3>
        </div>
    </div>
</a>