<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:image" content="{{ asset('css/default.png') }}">

        <title>{% block title %}Marast{% endblock %}</title>        

        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.png') }}">
        {% block additional_css %}{% endblock %}
        
        <link rel="stylesheet" type="text/css"  href="{{ asset('css/main.css') }}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/8f654230a5.js" crossorigin="anonymous"></script>
    </head>
    <body id="{% block pagename %}{% endblock %}" class="{{ darkmode|default('') }}">
        {% include 'search.html.twig' %}
        {% include 'topbar.html.twig' %}
        {% include 'header.html.twig' %}
        {% include 'mobile-header.html.twig' %}
        {% include 'mobile-menu.html.twig' %}

        {% block body %}{% endblock %}

        {% include 'footer.html.twig' %}

        <div class="c-text-fixed">
            <img src="{{ asset('images/text-fixed.png') }}">
        </div>

        {% block additional_scripts %}{% endblock %}
        <script src="{{ asset('js/main.js') }}"></script>        
    </body>
</html>
