<footer class="u-bg-dark">
	<div class="o-container-outer o-container-outer--wide">
		<div class="o-container-flex">
			<div class="c-footer-info">
				<div class="c-footer-info__logo">
					<img src="{{ asset('images/footer-logo.png') }}">
				</div>
				<div class="c-social-media">
					<a href="https://www.facebook.com/marastmusic" class="c-social-media__link">
						<i class="fab fa-facebook"></i>
					</a>
					<a href="https://www.instagram.com/marastmusic" class="c-social-media__link">
						<i class="fab fa-instagram"></i>
					</a>
					<a href="https://www.twitter.com/marastmusiccom" class="c-social-media__link">
						<i class="fab fa-twitter"></i>
					</a>
					<a href="https://open.spotify.com/user/8npnj62upz0scuwibtuohsdrw" class="c-social-media__link">
						<i class="fab fa-spotify"></i>
					</a>
				</div>
				<div class="c-footer-info__text">
					1999-2011 Marastjakcyp<br>
					2011-2022 MarastMusic<br>
					ISSN 2336-2758
				</div>
			</div>
			<div class="c-footer-menu u-mob-mb">
				<div class="c-footer-menu__title">Menu</div>
				<ul>
					<li class="c-footer-menu__link"><a href="{{ path('app_news_overview')}}">novinky</a></li>
					<li class="c-footer-menu__link"><a href="{{ path('app_articles_overview')}}">članky</a></li>
					<li class="c-footer-menu__link"><a href="{{ path('app_gallery_overview')}}">akce</a></li>
					<li class="c-footer-menu__link"><a href="{{ path('app_events_overview')}}">galerie</a></li>
					<li class="c-footer-menu__link"><a>random</a></li>
					<li class="c-footer-menu__link"><a>marast</a></li>
				</ul>
			</div>
			<div class="c-footer-menu">
				<div class="c-footer-menu__title">Promujeme</div>
				<ul>
					<li class="c-footer-menu__link"><a>liquid space 9</a></li>
					<li class="c-footer-menu__link"><a>liquid space 9</a></li>
					<li class="c-footer-menu__link"><a>liquid space 9</a></li>
					<li class="c-footer-menu__link"><a>liquid space 9</a></li>
					<li class="c-footer-menu__link"><a>liquid space 9</a></li>
					<li class="c-footer-menu__link"><a>liquid space 9</a></li>
				</ul>
			</div>
			<div class="c-footer-menu">
				<div class="c-footer-menu__title"></div>
				<ul>
					<li class="c-footer-menu__link"><a>liquid space 9</a></li>
					<li class="c-footer-menu__link"><a>liquid space 9</a></li>
					<li class="c-footer-menu__link"><a>liquid space 9</a></li>
					<li class="c-footer-menu__link"><a>liquid space 9</a></li>
					<li class="c-footer-menu__link"><a>liquid space 9</a></li>
					<li class="c-footer-menu__link"><a>liquid space 9</a></li>
				</ul>
			</div>
			<div class="c-footer-menu">
				<div class="c-footer-menu__title"></div>
				<ul>
					<li class="c-footer-menu__link"><a>liquid space 9</a></li>
					<li class="c-footer-menu__link"><a>liquid space 9</a></li>
					<li class="c-footer-menu__link"><a>liquid space 9</a></li>
					<li class="c-footer-menu__link"><a>liquid space 9</a></li>
					<li class="c-footer-menu__link"><a>liquid space 9</a></li>
					<li class="c-footer-menu__link"><a>liquid space 9</a></li>
				</ul>
			</div>
		</div>
	</div>		
</footer>
<div class="c-copyright">
	© 1999-2022 <span class="u-white">Marastmusic.com </span> Web development - <span class="u-white"><a class="c-copyright__link" href="https://www.facebook.com/hubicka.jakub">Jakub Hubička</a></span> | Design/UX - <span class="u-white"><a class="c-copyright__link" href="https://www.facebook.com/pavel.b.pavlik">bizzaro</a></span>
</div>