<header>
	<div class="o-container-center u-z-index">
		<div class="c-logo">
			<a href="{{ path('app_home') }}" class="c-logo__link c-logo__link--day" href="#"></a>
			<a href="{{ path('app_home') }}" class="c-logo__link c-logo__link--night" href="#"></a>
		</div>
		<nav class="c-main-menu">
			<ul class="c-main-menu__list">
				<li class="c-main-menu__item"><a href="{{ path('app_news_overview') }}" class="c-main-menu__link">Novinky</a></li>
				<li class="c-main-menu__item">
					<a href="{{ path('app_articles_overview') }}" class="c-main-menu__link">Články</a><span class="c-main-menu__arrow"></span>
					<ul class="c-submenu">
						<li class="c-submenu__link"><a href="{{ path('app_articles_overview', {'kategorie': 'recenze'}) }}" class="c-main-menu__link">Recenze</a></li>
						<li class="c-submenu__link"><a href="{{ path('app_articles_overview', {'kategorie': 'reporty'}) }}" class="c-main-menu__link">Reporty</a></li>
						<li class="c-submenu__link"><a href="{{ path('app_articles_overview', {'kategorie': 'rozhovory'}) }}" class="c-main-menu__link">Rozhovory</a></li>
						<li class="c-submenu__link"><a href="{{ path('app_articles_overview', {'kategorie': 'alba'}) }}" class="c-main-menu__link">Alba měsíce</a></li>
						<li class="c-submenu__link"><a href="{{ path('app_articles_overview', {'kategorie': 'ostatni'}) }}" class="c-main-menu__link">Ostatní</a></li>
					</ul>
				</li>
				<li class="c-main-menu__item"><a href="{{ path('app_gallery_overview') }}" class="c-main-menu__link">Galerie</a></li>
				<li class="c-main-menu__item"><a href="{{ path('app_events_overview') }}" class="c-main-menu__link">Akce</a></li>
				<li class="c-main-menu__item">
					<a class="c-main-menu__link u-c-default">Podporujeme</a><span class="c-main-menu__arrow"></span>
					<ul class="c-submenu">
						<li class="c-submenu__link"><a href="{{ path('app_tags', {'tag': 'brutal_assault'}) }}" class="c-main-menu__link">Brutal Assault</a></li>
						<li class="c-submenu__link"><a href="{{ path('app_tags', {'tag': 'obscure_promotion'}) }}" class="c-main-menu__link">Obscure Promotion</a></li>
						<li class="c-submenu__link"><a href="{{ path('app_tags', {'tag': 'obscene_extreme'}) }}" class="c-main-menu__link">Obscene Extreme</a></li>
						<li class="c-submenu__link"><a href="{{ path('app_tags', {'tag': 'death_fest'}) }}" class="c-main-menu__link">MG CZ Death fest</a></li>
						<li class="c-submenu__link"><a href="{{ path('app_tags', {'tag': 'kafefest'}) }}" class="c-main-menu__link">Kafest</a></li>
					</ul>
				</li>
			</ul>
		</nav>		
	</div>
</header>