<div class="c-mobile-header">
	<div class="c-logo c-logo--mobile">
			<a href="{{ path('app_home')}}" class="c-logo__link c-logo__link--mobile c-logo__link--day" href="#"></a>
			<a href="{{ path('app_home')}}" class="c-logo__link c-logo__link--mobile c-logo__link--night" href="#"></a>
		</div>
	<button id="menuButton" class="c-mobile-header__hamburger">
		<div></div>
		<div></div>
		<div></div>
	</button>
</div>