<div id="mobileMenu" class="c-mobile-menu">
	<ul>
		<li class="c-mobile-menu__link"><a href="{{ path('app_news_overview')}}">novinky</a></li>
		<li class="c-mobile-menu__link"><a href="{{ path('app_articles_overview')}}">članky</a></li>
		<li class="c-mobile-menu__link"><a href="{{ path('app_gallery_overview')}}">galerie</a></li>
		<li class="c-mobile-menu__link"><a href="{{ path('app_events_overview')}}">akce</a></li>
		<li id="mobileSubmenuButton" class="c-mobile-menu__link"><a class="u-p">podporujeme</a><span class="c-main-menu__arrow c-main-menu__arrow--large"></span></li>
		<ul class="c-mobile-menu__submenu">
			<li class="c-mobile-menu__link c-mobile-menu__link--submenu"><a href="{{ path('app_tags', {tag: 'brutal_assault'})}}" class="c-main-menu__link u-white">Brutal Assault</a></li>
			<li class="c-mobile-menu__link c-mobile-menu__link--submenu"><a href="{{ path('app_tags', {tag: 'obscure_promotion'})}}" class="c-main-menu__link u-white">Obscure Promotion</a></li>
			<li class="c-mobile-menu__link c-mobile-menu__link--submenu"><a href="{{ path('app_tags', {tag: 'obscene_extreme'})}}" class="c-main-menu__link u-white">Obscene Extreme</a></li>
			<li class="c-mobile-menu__link c-mobile-menu__link--submenu"><a href="{{ path('app_tags', {tag: 'death_fest'})}}t" class="c-main-menu__link u-white">MG CZ Death fest</a></li>
			<li class="c-mobile-menu__link c-mobile-menu__link--submenu"><a href="{{ path('app_tags', {tag: 'kafefest'})}}" class="c-main-menu__link u-white">Kafest</a></li>
		</ul>
	</ul>
</div>