<div class="c-search">
	<div class="c-search__container">
		<div class="o-wrapper">
			<div class="c-search__close-button">Zavřít</div>
			<div class="o-container-outer o-container-outer--wide">
				<div class="c-search__form">
					<input id="searchInput" class="c-search__input" placeholder="Vyhledávání">
					<button class="c-search__submit" type="button">
				</div>
				<nav class="c-center-menu u-mb">
					<ul id="searchMenu" class="c-center-menu__list c-center-menu__list--normal">
						<li id="search_all" class="c-center-menu__item c-center-menu__item--active"><a class="c-center-menu__link c-center-menu__link--colored">všechno</a></li>
						<li id="search_news" class="c-center-menu__item"><a class="c-center-menu__link c-center-menu__link--colored">novinky</a></li>
						<li id="search_reviews" class="c-center-menu__item"><a class="c-center-menu__link c-center-menu__link--colored">recenze</a></li>
						<li id="search_reports" class="c-center-menu__item"><a class="c-center-menu__link c-center-menu__link--colored">reporty</a></li>
						<li id="search_interviews" class="c-center-menu__item"><a class="c-center-menu__link c-center-menu__link--colored">rozhovory</a></li>
						<li id="search_albums" class="c-center-menu__item"><a class="c-center-menu__link c-center-menu__link--colored">alba měsíce</a></li>
						<li id="search_gallery" class="c-center-menu__item"><a class="c-center-menu__link c-center-menu__link--colored">galerie</a></li>
						<li id="search_others" class="c-center-menu__item"><a class="c-center-menu__link c-center-menu__link--colored">ostatní</a></li>
					</ul>
				</nav>
				<div class="c-search__result-container">
					<div class="c-search__load c-search__load--hidden">
						<div class="c-search__pentagram"></div>
					</div>
					<div id="searchResult" class="o-container-flex o-container-flex--wrap"></div>
				</div>
			</div>
		</div>
	</div>
</div>