{% for item in searchResult %}
    <a href='{{ item.url_path }}' class='c-item-v4'>
        <div class='c-item-v4__img' style='background-image:url({{ item.image_reference }}), url(images/default.png)'>
            <span class='c-tag'>{{ item.type }}</span>
        </div>
        <div class='c-item-v4__container'>
            <div class='c-item-v4__text'>{{ item.title }}</div>
            <span class='c-item-v4__author'>{{ item.author_name }}</span> - <span class='c-item-v4__date'>{{ item.publish_date|date('d.m.Y') }}</span>
        </div>
    </a>
{% endfor %}
