<div class="o-container-v3">
	<div class="c-title c-title--compact">
		Diskuze
	</div>
	<div class="c-text-filter">
		<a id="commentsAll" class="c-text-filter__item c-text-filter__item--active">všechny</a>
		<a id="commentsReports" class="c-text-filter__item">reporty</a>
		<a id="commentsReviews" class="c-text-filter__item" >recenze</a>
		<a id="commentsOthers" class="c-text-filter__item">ostatní</a>
	</div>
	<div id="comments"></div>					
</div>