{% for comment in comments %}
    <div class='c-item-v2 c-item-v2--small'>					
        <a href='{{ comment.url_path }}#{{ comment.id }}' class='c-item-v2__text c-item-v2__text--hover'>{{ comment.detail_title }}</a>
        <div class='c-item-v2__header'>
            <span class='c-item-v2__author u-black'>{{ comment.name }}</span> - <span class='c-item-v2__date'>{{ comment.created|date('d.m.Y H:i:s') }}</span>
        </div>
    </div>
{% endfor %}
