.u-mt {
	margin-top: $large;
}

.u-mt-l {
	margin-top: 80px;
}

.u-ml-xl {
	margin-left: 38px;
}

.u-mb {
	margin-bottom: $large;
}

.u-mb-m {
	margin-bottom: 30px;
}

.u-mb-large {
	margin-bottom: 50px;
}

.u-center {
	margin: 0 auto;
}

.u-mt-n-xl {
	margin-top: -78px;
}

.u-mbn-l {
	margin-bottom: -48px;
}