<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Přidat akci</title>
        <link href="{{ asset('css/add-event.css') }}" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css" rel="stylesheet">    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>
    </head>
<body class="u-bg-dark">
<div class="o-container-inner">
<div class="c-detail-form">
    <div class="c-detail-form__image"></div>
    <div class="c-detail-form__container">
        <h3 class="c-detail-form__title">Přidat akci</h3>
        {{ form_start(eventForm) }}
            <div class="c-detail-form__input-group">
                {{ form_errors(eventForm.event) }}
                {{ form_widget(eventForm.event, {'attr': {'class': 'c-detail-form__input', 'placeholder': 'Název akce'}}) }}
            </div>
            <div class="c-detail-form__input-group">
                {{ form_errors(eventForm.date) }}
                {{ form_widget(eventForm.date, {'attr': {'class': 'c-detail-form__input', 'placeholder': 'Datum'}}) }}
            </div>
            <div class="c-detail-form__input-group">
                {{ form_errors(eventForm.club) }}
                {{ form_widget(eventForm.club, {'attr': {'class': 'c-detail-form__input', 'placeholder': 'Klub'}}) }}
            </div>
            <div class="c-detail-form__input-group">
                {{ form_errors(eventForm.facebook) }}
                {{ form_widget(eventForm.facebook, {'attr': {'class': 'c-detail-form__input', 'placeholder': 'Facebook event'}}) }}
            </div>
            <div class="form-group">
                <label id="croppie-btn" class="c-croppie__button c-croppie__button--v2" for="upload">Nahrát plakát</label>
                <input id="upload" class="c-croppie__input" type="file">
            </div>
            <div id="modal" class="c-croppie__modal">
                <div class="c-croppie__modal-container">
                    <div id="croppie"></div>
                    <div id="croppie-upload" class="c-croppie__button c-croppie__button--main">Potvrdit</div>
                </div>
            </div>
            <div id="upload-preview" class="c-croppie__preview c-croppie__preview--user"></div>
            <input type="hidden" id="image" name="image">
            <div class="form-group">
                {{ form_widget(eventForm.save, {'attr': {'class': 'c-detail-form__button'}}) }}
            </div>
        {{ form_end(eventForm) }}
    </div>
    <div class="c-detail-form__success">
        <img src="{{ asset('images/check.png') }}">
        <div class="c-detail-form__success-text">Akce čeká na schválení</div>
    </div>
</div>
</div>
</body>
<script src="{{ asset('js/add-event.js') }}"></script>
</html>
